<%= flash[:result] %>
<% if signed_in?  %>
<div class="row">
    <aside class="span4">
      <section>
      <%= render 'shared/user' %>
    </section>
    <section>
      <%= render 'shared/entry_form' %>
	</section>
	<% if @feed_items.any? %>
	    <div class="span8">
	      <h3>Posted</h3>
	      <%= render 'shared/feed' %>
	    </div>  
  	<% end %>
 </div>  
</aside>
<% end %>

