<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>           	
		<div id='cssmenu'>
			<ul>
				<li ><%= link_to "Home", root_url %>	
				<li><%= link_to "Blog", "/static_pages/blog" %>						
				<li class='has-sub'><%= link_to "Help", "/static_pages/help" %>						
				</li>			   
			</ul>
		</div>     
    </div>
  </div>
</header>